#plone-logo{
    padding-top: 25vh;
    background-color: #488aff;
    height: 45vh;
}

#plone-logo > img {
    width: 70vw;
}

#submit-btn {
    margin-top: 3vh;
    padding: 1.2em;
    font-size: 1.7em;
} 

#forget-pass {
    color: #a9a9a9 !important;
    font-size: 1.3em;
    font-weight: 500;
}