@import '../../theme/variables.scss';

#plone-logo{
    padding-top: 25vh;
    background-color: $logo-background-color;
    height: 45vh;
}

#plone-logo > img {
    width: 70vw;
}

#submit-btn {
    margin-top: 3vh;
    padding: 1.2em;
    font-size: 1.7em;
} 

#forget-pass {
    color: $forget-password-color !important;
    font-size: 1.3em;
    font-weight: 500;
}