@import '../../theme/variables.scss';

.local-nav {
    text-decoration: none;
    h2 {
        font-weight: 600;
        color: $local-nav-heading;
    }
}

.item-icon {
    color: $item-icon-color;
}

ion-item-divider {
    font-size: 2rem !important;
    font-weight: 500 !important;
}

