
.local-nav {
    text-decoration: none;
    h2 {
        font-weight: 600;
        color: #488aff;
    }
}

.item-icon {
    color: #488aff;
}

ion-item-divider {
    font-size: 2rem !important;
    font-weight: 500 !important;
}

