.icon-more {
    font-size: 2rem;
}

.item-md h2 {
    font-size: 2rem;
}

.edit-icon ion-icon {
    color: #31D55F !important;
}

.message-icon ion-icon {
    color: #488aff !important;
}

.action-sheet-cancel ion-icon, .action-sheet-destructive ion-icon {
    color: #757575;
    font-weight: 600;
}

 