@import '../../theme/variables.scss';

.icon-more {
    font-size: 2rem;
}

.item-md h2 {
    font-size: 2rem;
}

.edit-icon ion-icon {
    color: $edit-icon-color !important;
}

.message-icon ion-icon {
    color: $message-icon-color !important;
}

.action-sheet-cancel ion-icon, .action-sheet-destructive ion-icon {
    color: $action-color;
    font-weight: 600;
}

 