// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.context-title {
    padding: 20px 15px 0px 15px;
    margin-top: 0px;
    font-weight: normal;
}
.context-description {
    padding: 5px 15px;
    margin-top: 0px;
    font-size: 1.8rem;
}

.context-data {
    padding: 0px 15px;
    font-size: 1.7rem;
}

.page-padding {
    margin-top: 0px;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar { 
    display: none; 
}