<ion-header>

  <ion-navbar color="primary">
    <ion-title>Search Results</ion-title>
    <ion-buttons end>
        <button ion-button end (click)="presentFilter($event)">
          <ion-icon name="funnel"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="query" (ionInput)="inputChanged(false)" (keyup.enter)="inputChanged(true)"></ion-searchbar>  
  <ion-item>
    <ion-label>Sort by</ion-label>
    <ion-select [(ngModel)]="sortBy" (ngModelChange)="sort()">
        <ion-option value="relevance">Relevance</ion-option>
        <ion-option value="date">Date(newest first)</ion-option>
        <ion-option value="alphabetically">Alphabetically</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="noResult">
    No results were found
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let result of searchResults">
      <ion-icon *ngIf="result['@type'] == 'Document'" name="document" item-left></ion-icon>
      <ion-icon *ngIf="result['@type'] == 'Event'" name="calendar" item-left></ion-icon>
      <ion-icon *ngIf="result['@type'] == 'Folder'" name="folder" item-left></ion-icon>
      <ion-icon *ngIf="result['@type'] == 'Image'" name="image" item-left></ion-icon>
      <ion-icon *ngIf="result['@type'] == 'Link'" name="link" item-left></ion-icon>
      <ion-icon *ngIf="result['@type'] == 'News Item'" name="megaphone" item-left></ion-icon>
      <ion-icon *ngIf="result['@type'] == 'File'" name="attach" item-left></ion-icon>
      <ion-icon *ngIf="result['@type'] == 'Collection'" name="filing" item-left></ion-icon>
      <a class="local-nav" [traverseTo]="result['@id']">
        <h2>{{result.title | titlecase}}</h2>
        <p>{{result['@type']}}</p>
      </a>
    </ion-item>
  </ion-list>
  
</ion-content>
