<ion-header>
  <ion-toolbar color="secondary">
    <ion-title><custom-breadcrumbs></custom-breadcrumbs></ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of context.items">
      <ion-icon *ngIf="item['@type'] == 'Document'" name="document" item-left></ion-icon>
      <ion-icon *ngIf="item['@type'] == 'Event'" name="calendar" item-left></ion-icon>
      <ion-icon *ngIf="item['@type'] == 'Folder'" name="folder" item-left></ion-icon>
      <a class="local-nav" [traverseTo]="item['@id']">
        <h2>{{item.title | titlecase}}</h2>
        <p>{{item['@type']}}</p>
      </a>
    </ion-item>
  </ion-list>

  <p *ngIf="context.text" [innerHTML]="context.text.data"></p>
</ion-content>
