$crumbs-back:#F3F5FA;
$text-color:#488aff;

#crumbs {
    display: inline-flex;
    ul {
        padding: 0px;
        margin: 0px;
		list-style: none;
		display: inline-flex;
		li {
			display: inline;
			a {
                display: block;
                float: left;
                height: 50px;
                background: $crumbs-back;
                font-weight: 500;
                text-align: center;
                padding: 13px 8px 0 32px;
                position: relative;
                margin: 0 2px 0 0; 
                width: 24vw;
                font-size: 20px;
                text-decoration: none;
                color: $text-color;
                box-shadow: 7px 1px 12px 1px rgba(0, 0, 0, 0.16);
                &:after {
                    content: "";  
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-left: 25px solid $crumbs-back;
                    position: absolute; 
                    right: -24px;
                    top: 0;
				    z-index: 1;
			    }
			    &:before {
                    content: "";  
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-left: 25px solid #4d4d4d;
                    position: absolute; 
                    left: 0; 
                    top: 0;
			    }
		    }
		}
	}
}


#crumbs .fixed li:first-child a:before {
    display: none; 
}

#crumbs .fixed li:first-child a {
    width: 13vw;
    padding-left: 24px;
}

#crumbs .slider li a:after {
    box-shadow: -15px -15px 9px 6px $crumbs-back;
}
 
#crumbs .slider li:last-child a {
    color: $crumbs-back;
    background: $text-color;
}

#crumbs .slider li:last-child a:after {
    border-left-color: $text-color;
    box-shadow: -15px -15px 9px 6px $text-color;
}
	
.crumb {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
}              

.slider {
    overflow-x: scroll;
    width: 87vw;
    height: 57px;
}

